<h1>Inventory Tracking - Shopify Backend Developer Intern Challenge (Summer 2022)</h1>   
<div class="topnav">
  <a class="active" href="/items">List of Inventory Items</a>
  <a href="/items/new">Add a New Item to Inventory</a>
</div>
<br>