<%= stylesheet_link_tag "application.css" %>

<h1>Inventory Tracking - Shopify Backend Developer Intern Challenge (Summer 2022)</h1>   
<div class="topnav">
  <a class="active" href="#home">Home</a>
  <a href="/items">Add a New Item to Inventory</a>
  <a href="#about">About</a>
</div>
<br>
<body>
  <p1>Hello! Welcome to my Inventory Tracking app.</p1>
</body>